@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #f872a1, #e3a0b3e0);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

p{
    color:#000106;
    text-align: justify 
}

h1#principal{
    color:#ee3f6e;
    text-align: center;
    background-color:#ffb488d2;
    border-radius: 50px;
    box-shadow: 5px, 5px, 10px, #000000;
    width: #FEFCFB;
    padding: 15px;
    margin: auto; 
   
}

h1{
    color:#FEFCFB;
    text-align: center 
    
}

.Basico{
    color: #ee3f6e;
    text-align: justify 
}

.Intermediario{
    color: #ee3f6e;
    text-align: justify 
}

.Avançado{
    color: #ee3f6e;
    text-align: justify
}

h1#secundario{
    color:#FEFCFB;
    text-align: center
}